* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trip Sans";
    margin-top: 18px;
    padding-left: 8%;
    padding-right: 8%;

}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
    margin-left: -9.5%;
    margin-right: -9.5%;
}

.navbar_sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    cursor: pointer;
    padding-left: 110px;
}

.navbar_sec1 img {
    width: 40px;
}

.navbar_sec2 {
    display: flex;
    gap: 30px;
    background-color: transparent;
}

.navbar_sec2 h4 {
    cursor: pointer;
    padding: 13px;
}

.navbar_sec2--desc:hover {
    background-color: lightgray;
    border-radius: 30px;

}

.forum:hover {
    text-decoration: underline;
    background-color: white;
    border: none;
}

.navbar_sec3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 90px;
}

.navbar_sec3__desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    padding: 13px;
    cursor: pointer;
}

.navbar_sec3__desc:hover {
    background-color: lightgray;
    border-radius: 30px;
}

.line {
    border-left: solid rgba(128, 128, 128, 0.226) 1px;
    height: 25px;
}

.signin {
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 13px;
    cursor: pointer;
}

.menu {
    display: none;
}

.profile {
    display: none;
}

.headings {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 5%;

}

.heading__desc1,
.heading__desc2,
.heading__desc3,
.heading__desc4,
.heading__desc5,
.heading__desc6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    padding-bottom: 10px;

}

.heading__desc1 {
    border-bottom: solid black 2px;
}

.heading__desc1 p,
.heading__desc2 p,
.heading__desc3 p,
.heading__desc4 p,
.heading__desc5 p,
.heading__desc6 p {
    padding-left: 4px;
    cursor: pointer;
}

.heading__desc2:hover,
.heading__desc3:hover,
.heading__desc4:hover,
.heading__desc5:hover,
.heading__desc6:hover {
    border-bottom: solid black 2px;
}

.description {
    margin-top: 7%;
    text-align: center;
    font-size: 30px;
    font-weight: 1200px;
}

.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 20px;
    padding-left: 10px;
    border: solid rgba(128, 128, 128, 0.26) 1px;
    width: 70%;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.26);
}

.search__sec1 input {
    font-size: 16px;
    border: none;
    padding-left: 10px;
    width: 250px;
}

.search__sec1 input:focus {
    outline: none;
}

.search__desc {
    background-color: #33E0A1;
    border-radius: 30px;
    padding: 15px;
    margin: 4px;
    cursor: pointer;
}

.search i {
    padding-left: 10px;
    cursor: pointer;
}

.front-image {
    position: relative;
}

.front-image img {
    margin-top: 40px;
    width: 100%;
    border-radius: 23px;
    margin-left: 17px;
    margin-right: 17px;
}

.front-image__desc {
    position: absolute;
    bottom: 7px;
    color: white;
    padding: 4%;
    font-size: larger;
    gap: 4px;
}

.front-image__desc button {
    background-color: white;
    border-radius: 30px;
    color: black;
    margin-left: 5px;
    margin-top: 2%;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
    cursor: pointer;
}

.front-image__desc button:hover {
    filter: brightness(90%);
}

.section1 {
    margin-top: 80px;
}

.section1 p {
    margin-top: 15px;
    text-align: left;
}

.section1__images,
.section6__images,
.section7__images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 17px;
    position: relative;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
}

.sec1__img img,
.sec6__img img,
.sec7__img img {
    border-radius: 10px;
    width: auto;
    height: 100%;
    filter: brightness(90%);
    filter: drop-shadow(2%);
    cursor: pointer;
}

.sec1__img img:hover,
.sec6__img img:hover,
.sec7__img img:hover {
    filter: brightness(70%);
}


.sec1__img h2 {
    position: absolute;
    bottom: 4px;
    padding-left: 15px;
    color: white;
}

.section2 {
    margin-top: 6%;
}

.section2__desc,
.section3__desc,
.section4__desc,
.section5__desc {
    margin-top: 1.5%;
}

.section2__images,
.madras_section,
.tour-image,
.experience-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 0.5%;
    cursor: pointer;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
}

.sec2__img img {
    border-radius: 10px;
    width: auto;
    height: 100%;
    cursor: pointer;
}

.sec2__img img:hover {
    filter: brightness(80%);
}

.sec2__img h4 {
    margin-top: 15px;
    text-align: center;
}

.sec__img--desc {
    text-align: center;
    margin-top: 15px;
    padding-left: 190px;
}

.section3,
.section4,
.section5 {
    margin-top: 10%;
}

.sec3__img img,
.sec4__img img,
.sec5__img img {
    border-radius: 10px;
    cursor: pointer;
}

.sec3__img img:hover,
.sec4__img img:hover,
.sec5__img img:hover {
    filter: brightness(80%);
}


.sec3__img h4,
.sec4__img h4,
.sec5__img h4 {
    font-size: large;
    line-height: 25px;
}

.img,
.img3 {
    margin-top: 20px;
}

.img1,
.img2 {
    margin-top: 40px;
}

.bestseller {
    border: solid black 1px;
    border-radius: 4px;
    width: fit-content;
    padding: 4px;
}

.more-to-explore {
    background-color: #F2F1EC;
    height: 500px;
    width: 1350px;
    padding-left: 0;
    margin-left: -9.5%;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.explore-image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding-left: 8%;
    margin-top: 25px;
    position: relative;

}

.more-to-explore h2 {
    padding-top: 30px;
    padding-left: 8%;
    position: relative;

}

.moretoexploreimg img {
    width: 90%;
    height: 90%;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.moretoexploreimg img:hover {
    filter: brightness(80%);
}

.explore-desc {
    margin-top: 27px;
    position: relative;
}

.explore-desc_1,
.explore-desc_2,
.explore-desc_3 {
    width: 25%;
    position: absolute;
    text-align: center;
}

.explore-desc_1 {
    left: 110px;
}

.explore-desc_2 {
    left: 540px;
}

.explore-desc_3 {
    left: 960px;
}

.section6 {
    margin-top: -40px;
}

.sec6__img h1,
.sec7__img h1 {
    width: 21%;
    position: absolute;
    bottom: 14px;
    padding-left: 15px;
    color: white;
    font-size: 28px;

}

.section6 h3 {
    margin-top: 30px;
    text-align: left;
    font-size: 24px;
}

.section7 {
    margin-top: 70px;
}

.section7 p {
    margin-top: 20px;
}

.sponsor {
    margin-top: 30px;
    background-color: #F2ECF9;
    display: flex;
    height: 540px;
}

.sponsor__sec1 img {
    width: 535px;
    height: 500px;
    margin: 20px;
}

.sponsor__sec2 {
    margin-top: 20%;
    text-align: center;
}

.sponsor__sec2--title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.sponsor__sec2--title img {
    width: 24px;
    height: 24px;
}

.sponsor__sec2--desc h1 {
    margin-top: 15px;
}

.sponsor__sec2--desc p {
    margin-top: 7px;
    width: 60%;
    text-align: center;
    margin-left: 120px;
    gap: 9px;
}


.sponsor__sec2--desc button {
    margin-top: 17px;
    background-color: black;
    border-radius: 30px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bolder;
    cursor: pointer;
}

.traveller {
    background-color: #FFF7E1;
    display: flex;
    margin-left: -10%;
    margin-right: -10%;
    margin-top: 70px;
    overflow: hidden;
    position: relative;
}

.traveller-desc {
    margin-left: 8%;
    padding-top: 80px;
    padding-bottom: 80px;

}

.traveller-desc h1 {
    font-size: 50px;
    width: 50%;
}

.traveller-desc h2 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: lighter;
    width: 40%;
}

.traveller-desc button {
    background-color: black;
    padding: 12px;
    border-radius: 30px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.traveller-img {
    margin-left: -30%;
    transform: rotate(-38deg);
    margin-top: 90px;
    margin-bottom: -200px;
    z-index: 2;
}

.traveller-img img {
    width: 130%;
    height: 50%;
    margin-top: 80px;
    border-radius: 300px;
}

.circle1 {
    background-color: #F2B203;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    right: 30%;
    margin-top: -10px;
    z-index: 1;
}

.circle2 {
    background-color: #34E0A1;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    left: 75%;
    top: 70%;
    z-index: 1;
}

.footer {
    background-color: #F2F2F2;
    margin: 60px -9.5% 0px -9.5%;
}

.footer-end1,
.footer-end2,
.footer-end3 {
    padding-left: 8%;
    margin-top: 10px;
    font-size: 12px;
    width: 50%;
}

.footer-end2,
.footer-end3 {
    display: none;
}

.footer-end1 button {
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding-bottom: 20px;
}

.footer-desc {
    display: flex;
}

.footer__sec1 {
    padding-top: 20px;
    padding-left: 8%;
}

.footer__sec1--desc {
    display: flex;
    gap: 40px;
}

.footer__sec1--desc h3 {
    font-weight: lighter;
    padding-top: 10px;

}

.footer__sec1--desc p {
    font-weight: lighter;
    padding-top: 7px;
    font-size: 14px;
    cursor: pointer;
}

.footer__sec1--desc p:hover {
    text-decoration: underline;
}

.footer__sec1--foot {
    padding-top: 40px;
}

.footer__sec1--foot1 {
    display: flex;
    gap: 10px;
}

.listOfContents {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    width: 85%;
    gap: 8px;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.rights {
    font-size: small;
}

.footer__sec1--foot1 img {
    width: 40px;
    height: 40px;
}

.footer__sec2 {
    padding-top: 30px;
}

.footer__sec2--desc h3 {
    font-weight: lighter;
    font-size: 18px;
}

.footer__sec2--desc p {
    padding-top: 10px;
}

.footer__sec2--drop {
    padding-top: 150px;
    gap: 10px;
}

.footer__sec2--drop select {
    border-color: rgba(128, 128, 128, 0.26);
    border-radius: 10px;
    padding: 5px 50px 5px 5px;
    font-weight: bolder;
    font-size: 16px;
}

.footer__sec2--apps {
    padding: 40px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.footer__sec2--apps i {
    width: 50px;
}


/* Media Queries*/

@media screen and (max-width: 600px) {


    body {
        width: 350px;
    }

    .navbar_sec2,
    .navbar_sec3,
    .description,
    .more-to-explore,
    .headings i,
    .traveller-img {
        display: none;
    }

    .navbar {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 2;
        margin-left: -15%;
        margin-right: -27%;

    }

    .navbar_sec1 {
        margin-left: 13%;
    }

    .search {
        display: block;
        border-radius: 25px;
        padding: 25px 10px 25px 130px;
        margin: 30px 20px 0px 0px;
        text-align: left;
    }

    .search__sec1 {
        margin-left: -45%;
    }


    search__sec1 i {
        padding-left: -50px;
    }

    .search__desc {
        text-align: center;
        margin: 30px 0px 0px -120px;
        padding: 25px 65px 25px 65px;

    }

    .front-image__desc {
        padding-left: 30px;
        padding-top: 70px;
        font-size: 14px;
    }

    .front-image__desc button {
        font-size: 12px;
        padding: 10px;
    }

    .sec1__img img,
    .sec2__img img,
    .sec6__img img,
    .sec7__img img {
        width: 300px;

    }

    .headings p {
        font-size: 16px;
    }

    .headings {
        margin-left: -7%;
        margin-top: 15px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .heading__desc1 {
        white-space: nowrap;
    }

    .section1__images,
    .section2__images,
    .section6__images,
    .section7__images,
    .madras_section,
    .tour-image,
    .experience-image {
        flex-wrap: nowrap;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .section6 {
        margin-top: 30px;
    }

    .sponsor {
        display: block;
        height: 700px;
        width: 410px;
    }

    .sponsor__sec1 img {
        width: 90%;
        height: 50%;
    }

    .sponsor__sec2 {
        margin-top: 0px;
    }

    .traveller {
        display: block;
        margin-right: -94px;
    }

    .traveller h1,
    .traveller h2 {
        font-size: 20px;
    }

    .circle1 {
        background-color: #F2B203;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: absolute;
        right: 10%;
        margin-top: -250px;
        z-index: 1;
    }

    .circle2 {
        background-color: #34E0A1;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: absolute;
        left: 55%;
        top: 40%;
        z-index: 1;
    }

    .footer {
        margin-right: -94px;
    }

    .footer__sec1--desc p,
    .footer__sec2--desc p {
        display: none;
    }

    .footer__sec1--desc {
        display: block;
    }

    .footer__sec2--desc {
        margin-left: -120%;
        margin-top: 58%;
    }

    .footer__sec2--desc h3 {
        font-size: 20px;
    }

    .footer__sec2--drop {
        margin-top: -270px;
        width: 100%;
    }

    .footer__sec1--foot {
        margin-top: 50px;
    }

    .footer-end1 {
        width: 90%;
    }

    .listOfContents {
        display: flex;
        flex-wrap: wrap;
        width: 200%;
    }

    .menu {
        display: flex;
        margin-left: -145%;
    }

    .profile {
        display: flex;
        padding-right: 15px;
    }


}